* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  bottom: 20%;
  width: 100%;
  text-align: center;
  color: white;
}

#heroTitle {
    font-size: 10rem;
    opacity: 0;
    transform:translateY(50px);
    transition: all 1.5s ease;
}

.clickable-card {
            cursor: pointer;
            transition: transform 0.2s ease, box-shadow 0.2s ease;
        }
        .clickable-card:hover {
            transform: translateY(-8px);
            box-shadow: 0 15px 30px rgba(0,0,0,0.2);
        }
        .card-body {
            height: 150px;
            overflow: hidden;
        }

.carousel-inner {
    padding-bottom: 70px;          
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute !important;                   
    top: auto !important;
    width: 60px !important;         
    height: 60px !important;
    opacity: 1;
    display: flex !important;
    align-items: center;
    justify-content: center;
    
}

.carousel-control-prev {
    left: 50% !important;          
    transform: translateX(-100%);  
}

.carousel-control-next {
    left: 50% !important;         
    transform: translateX(0);     
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3.5rem !important;
    height: 3.5rem !important;
    background-size: 100% 50% !important;
    background-color: rgba(170, 21, 27);  
    
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23F1BF00'><path d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0'/></svg>") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23F1BF00'><path d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708'/></svg>") !important;
}

.card-body {
    min-height: 180px;     
    height: auto !important;   
    overflow: visible !important; 
}

.card {
    min-height: 220px;        
}

